@import url("https://fonts.googleapis.com/css2?family=Ruda&display=swap");

html {
  font-family: "Ruda", sans-serif;
}

nav {
  background-color: #3b5998;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;

  justify-content: space-between;
  align-items: center;
}
h3 {
  margin-left: 10px;
  color: #ccdeff;
  font-weight: 900;
}
nav form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  flex-grow: 0.1;
  margin-right: 10px;
}
nav form div {
  display: flex;
  flex-direction: column;
}
nav form label {
  color: #ccdeff;
  font-size: 12px;
}
nav form input {
  outline: none;
}
nav form input[type="submit"] {
  background-color: #5c79ff;
  border: none;
  height: 22px;
  font-family: "Ruda", sans-serif;
  color: #ccdeff;
}
nav form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #5c7affa9;
}

.oculto {
  display: none;
}
